<div class="flex">
  <div
    class="flex flex-col justify-center items-center bg-green-base h-screen w-auto lg:w-80 sm:w-60 text-white"
  >
    <img src="assets/Logo1.svg" alt="Logo" class="m-12 w-20" />
    <div class="max-w-[400px] w-full mx-auto p-6 space-y-4">
      <div class="flex flex-col justify-center items-center">
        <button
          routerLink="tenants"
          type="button"
          class="hover:bg-white rounded-lg hover:text-green-base w-full my-1 py-2 border-transparent text-left"
        >
          <mat-icon class="mx-2 text-2xl">group</mat-icon>
          Tenants
        </button>
        <button
          type="button"
          class="hover:bg-white rounded-lg hover:text-green-base w-full my-1 py-2 border-transparent text-left"
        >
          <mat-icon class="mx-2 text-2xl">view_module</mat-icon>

          Módulos
        </button>
        <button
          type="button"
          class="hover:bg-white rounded-lg hover:text-green-base w-full my-1 py-2 border-transparent text-left"
        >
          <mat-icon class="mx-2 text-2xl">assignment</mat-icon>

          Relatórios
        </button>
        <button
          type="button"
          class="hover:bg-white rounded-lg hover:text-green-base w-full my-1 py-2 border-transparent text-left"
        >
          <mat-icon class="mx-2 text-2xl">contact_support</mat-icon>

          Suporte
        </button>
        <button
          type="button"
          class="hover:bg-white rounded-lg hover:text-green-base w-full my-1 py-2 border-transparent text-left items-center"
        >
          <mat-icon class="mx-2 text-2xl">exit_to_app</mat-icon>

          Sair
        </button>
      </div>
    </div>
  </div>
</div>
