<div
  class="w-32 aspect-square rounded-full relative flex justify-center items-center animate-[spin_3s_linear_infinite] z-40 bg-[conic-gradient(white_0deg,white_300deg,transparent_270deg,transparent_360deg)] before:animate-[spin_2s_linear_infinite] before:absolute before:w-[60%] before:aspect-square before:rounded-full before:z-[80] before:bg-[conic-gradient(white_0deg,white_270deg,transparent_180deg,transparent_360deg)] after:absolute after:w-3/4 after:aspect-square after:rounded-full after:z-[60] after:animate-[spin_3s_linear_infinite] after:bg-[conic-gradient(#065f46_0deg,#065f46_180deg,transparent_180deg,transparent_360deg)]"
>
  <span
    class="absolute w-[85%] aspect-square rounded-full z-[60] animate-[spin_5s_linear_infinite] bg-[conic-gradient(#34d399_0deg,#34d399_180deg,transparent_180deg,transparent_360deg)]"
  >
  </span>
</div>
<div
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12"
>
  <div
    class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div class="col-span-2 text-lg font-bold capitalize rounded-md">
      card title
    </div>
    <div class="col-span-2 rounded-md">
      Using Lorem ipsum to focus attention on graphic elements in a webpage
      design proposal · One of the earliest examples of the Lorem ipsum
      placeholder text on 1960s advertising...
    </div>
    <div class="col-span-1">
      <button
        class="rounded-md bg-slate-300 hover:bg-slate-600 hover:text-slate-200 duration-300 p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-external-link"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div class="col-span-2 text-lg font-bold capitalize rounded-md">
      card title
    </div>
    <div class="col-span-2 rounded-md">
      Using Lorem ipsum to focus attention on graphic elements in a webpage
      design proposal · One of the earliest examples of the Lorem ipsum
      placeholder text on 1960s advertising...
    </div>
    <div class="col-span-1">
      <button
        class="rounded-md bg-slate-300 hover:bg-slate-600 hover:text-slate-200 duration-300 p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-external-link"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div class="col-span-2 text-lg font-bold capitalize rounded-md">
      card title
    </div>
    <div class="col-span-2 rounded-md">
      Using Lorem ipsum to focus attention on graphic elements in a webpage
      design proposal · One of the earliest examples of the Lorem ipsum
      placeholder text on 1960s advertising...
    </div>
    <div class="col-span-1">
      <button
        class="rounded-md bg-slate-300 hover:bg-slate-600 hover:text-slate-200 duration-300 p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-external-link"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div class="col-span-2 text-lg font-bold capitalize rounded-md">
      card title
    </div>
    <div class="col-span-2 rounded-md">
      Using Lorem ipsum to focus attention on graphic elements in a webpage
      design proposal · One of the earliest examples of the Lorem ipsum
      placeholder text on 1960s advertising...
    </div>
    <div class="col-span-1">
      <button
        class="rounded-md bg-slate-300 hover:bg-slate-600 hover:text-slate-200 duration-300 p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-external-link"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div class="col-span-2 text-lg font-bold capitalize rounded-md">
      card title
    </div>
    <div class="col-span-2 rounded-md">
      Using Lorem ipsum to focus attention on graphic elements in a webpage
      design proposal · One of the earliest examples of the Lorem ipsum
      placeholder text on 1960s advertising...
    </div>
    <div class="col-span-1">
      <button
        class="rounded-md bg-slate-300 hover:bg-slate-600 hover:text-slate-200 duration-300 p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-external-link"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </button>
    </div>
  </div>
  <div
    class="w-60 bg-gradient-to-l from-slate-300 to-slate-100 text-slate-600 border border-slate-300 grid grid-col-2 justify-center p-4 gap-4 rounded-lg shadow-md"
  >
    <div class="col-span-2 text-lg font-bold capitalize rounded-md">
      card title
    </div>
    <div class="col-span-2 rounded-md">
      Using Lorem ipsum to focus attention on graphic elements in a webpage
      design proposal · One of the earliest examples of the Lorem ipsum
      placeholder text on 1960s advertising...
    </div>
    <div class="col-span-1">
      <button
        class="rounded-md bg-slate-300 hover:bg-slate-600 hover:text-slate-200 duration-300 p-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-external-link"
        >
          <path
            d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
          ></path>
          <polyline points="15 3 21 3 21 9"></polyline>
          <line x1="10" y1="14" x2="21" y2="3"></line>
        </svg>
      </button>
    </div>
  </div>
  
</div>
