<div class="flex flex-row">
  <div class="w-[300px] h-screen bg-gray-900"></div>
  <div class="w-screen h-screen">
    <div class="w-[100%] h-[150px] bg-green-900 flex ">
        <div class="w-[100%] h-[70px]  mt-[100px]">
            <button class="bg-sky-700 font-extrabold p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors mt-[10px] ml-[30px]">Filtro 01</button>
            <button class="bg-sky-700 font-extrabold p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors mt-[10px] ml-[30px]">Filtro 01</button>
            <button class="bg-sky-700 font-extrabold p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors mt-[10px] ml-[30px]">Filtro 01</button>
            <button class="bg-sky-700 font-extrabold p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors mt-[10px] ml-[30px]">Filtro 01</button>
            <button class="bg-sky-700 font-extrabold p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors mt-[10px] ml-[30px]">Filtro 01</button>
            <button class="bg-sky-700 font-extrabold p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors mt-[10px] ml-[30px]">Filtro 01</button>
        </div>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12"
    >
      <div
        class="border-2 border-green-500 max-w-sm mx-auto flex flex-col h-[113px] w-[213px] mt-[45px]"
      >
        <div
          class="bg-green-500 text-white text-center h-[33px] w-[100%]"
        ></div>
        <div class="bg-white p-4 flex-grow">
          <h2 class="text-xl font-bold text-green-500 ml-[45px]">Módulo 01</h2>
        </div>
      </div>
      <div
        class="border-2 border-green-500 max-w-sm mx-auto flex flex-col h-[113px] w-[213px] mt-[45px]"
      >
        <div
          class="bg-green-500 text-white text-center h-[33px] w-[100%]"
        ></div>
        <div class="bg-white p-4 flex-grow">
          <h2 class="text-xl font-bold text-green-500 ml-[45px]">Módulo 01</h2>
        </div>
      </div>
      <div
        class="border-2 border-green-500 max-w-sm mx-auto flex flex-col h-[113px] w-[213px] mt-[45px]"
      >
        <div
          class="bg-green-500 text-white text-center h-[33px] w-[100%]"
        ></div>
        <div class="bg-white p-4 flex-grow">
          <h2 class="text-xl font-bold text-green-500 ml-[45px]">Módulo 01</h2>
        </div>
      </div>
      <div
        class="border-2 border-green-500 max-w-sm mx-auto flex flex-col h-[113px] w-[213px] mt-[45px]"
      >
        <div
          class="bg-green-500 text-white text-center h-[33px] w-[100%]"
        ></div>
        <div class="bg-white p-4 flex-grow">
          <h2 class="text-xl font-bold text-green-500 ml-[45px]">Módulo 02</h2>
        </div>
      </div>
      <div
        class="border-2 border-green-500 max-w-sm mx-auto flex flex-col h-[113px] w-[213px] mt-[45px]"
      >
        <div
          class="bg-green-500 text-white text-center h-[33px] w-[100%]"
        ></div>
        <div class="bg-white p-4 flex-grow">
          <h2 class="text-xl font-bold text-green-500 ml-[45px]">Módulo 01</h2>
        </div>
      </div>
      <div
        class="border-2 border-green-500 max-w-sm mx-auto flex flex-col h-[113px] w-[213px] mt-[45px]"
      >
        <div
          class="bg-green-500 text-white text-center h-[33px] w-[100%]"
        ></div>
        <div class="bg-white p-4 flex-grow">
          <h2 class="text-xl font-bold text-green-500 ml-[45px]">Módulo 01</h2>
        </div>
      </div>
    </div>
  </div>
</div>
